<a href="https://colab.research.google.com/github/Cordero27/Minor-Machine-Learning/blob/main/Analisis%20Dataset%20Memoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análisis de conjunto de datos preliminar para Memoria

### El Conjunto de datos a estudiar pertenece a la captura de datos de una colmena de abejas durante un año, que se realizó en la ciudad de Würzburg en 2017. Los parámetros trabajados durante el proyecto son flujo de abejas que ingresan y egresan de la colmena, humedad y temperatura interior de la colmena, y peso de esta. Las unidades de medida de estos últimos tres parámetros son porcentaje, Celcius y Kilogramos respectivamente.

### Cabe destacar, que solo se usan los archivos que tienen el año 2017 en su nombre, pues los demas corresponden a un estudio de 2017-2019 que tienen un periodo no medido en el año 2018.

## Para procesar este conjunto de datos se usa OSEMN.

###Entrega 01 - OBTAIN

In [10]:
import numpy as np
#Librerias a utilizar
import pandas as pd

#Fuente del dataset: https://www.kaggle.com/datasets/se18m502/bee-hive-metrics

flow = pd.read_csv('https://raw.githubusercontent.com/Cordero27/Minor-Machine-Learning/main/Dataset/flow_2017.csv', on_bad_lines='skip')
humidity = pd.read_csv('https://raw.githubusercontent.com/Cordero27/Minor-Machine-Learning/main/Dataset/humidity_2017.csv', on_bad_lines='skip')
temperature = pd.read_csv('https://raw.githubusercontent.com/Cordero27/Minor-Machine-Learning/main/Dataset/temperature_2017.csv', on_bad_lines='skip')
weight = pd.read_csv('https://raw.githubusercontent.com/Cordero27/Minor-Machine-Learning/main/Dataset/weight_2017.csv', on_bad_lines='skip')

#Observamos el contenido adquirido del archivo del flujo
flow.head()

             timestamp  flow
0  2017-01-01 05:15:00     0
1  2017-01-01 05:16:00     0
2  2017-01-01 05:17:00     0
3  2017-01-01 05:18:00     0
4  2017-01-01 05:19:00     0

In [11]:
#Observamos el contenido adquirido del archivo de la humedad
humidity.head()

             timestamp   humidity
0  2017-01-01 05:00:00  92.406667
1  2017-01-01 06:00:00  92.270000
2  2017-01-01 07:00:00  92.575000
3  2017-01-01 08:00:00  92.840000
4  2017-01-01 09:00:00  93.640000

In [12]:
#Observamos el contenido adquirido del archivo de la temperatura
temperature.head()

             timestamp  temperature
0  2017-01-01 05:00:00    -1.911244
1  2017-01-01 06:00:00    -1.866717
2  2017-01-01 07:00:00    -2.077833
3  2017-01-01 08:00:00    -2.327167
4  2017-01-01 09:00:00    -2.791233

In [13]:
#Observamos el contenido adquirido del archivo del peso
weight.head()

             timestamp   weight
0  2017-01-01 05:15:00  52.6974
1  2017-01-01 05:16:00  52.6974
2  2017-01-01 05:17:00  52.6974
3  2017-01-01 05:18:00  52.6974
4  2017-01-01 05:19:00  52.6973

###Entrega 02 - SCRUB

Comenzamos verificando si exiten valores NAs en los conjuntos de datos

In [15]:
#Verificamos si existen NAs dentro del conjunto de datos.
flow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048220 entries, 0 to 1048219
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   timestamp  1048220 non-null  object
 1   flow       1048220 non-null  int64
dtypes: int64(1), object(1)
memory usage: 16.0+ MB

In [17]:
#Verificamos si existen NAs dentro del conjunto de datos.
humidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8737 entries, 0 to 8736
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  8737 non-null   object
 1   humidity   8737 non-null   float64
dtypes: float64(1), object(1)
memory usage: 136.6+ KB

In [18]:
#Verificamos si existen NAs dentro del conjunto de datos.
temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401869 entries, 0 to 401868
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    401869 non-null  object
 1   temperature  401866 non-null  float64
dtypes: float64(1), object(1)
memory usage: 6.1+ MB

In [19]:
#Verificamos si existen NAs dentro del conjunto de datos.
weight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524110 entries, 0 to 524109
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  524110 non-null  object
 1   weight     524110 non-null  float64
dtypes: float64(1), object(1)
memory usage: 8.0+ MB

Como observamos, solo se detectan NAs en el archivo de la temperatura, pues en este es el único donde varía la cantidad de filas que contiene con la cantidad de elementos not-null encontrados. Pero como solo son 3 elementos, revisamos el archivo para en lugar de eliminarlas, podemos insertar un valor consistente a los cercanos

In [24]:
filas_con_na = temperature['temperature'].isna()

# Encuentra el índice de la primera fila que cumple con la condición
indice = filas_con_na.idxmax()
print('El primer valor faltante (NA) en la columna "mi_columna" se encuentra en la fila', indice)
temperature.loc[43685]

El primer valor faltante (NA) en la columna "mi_columna" se encuentra en la fila 43685

timestamp      2017-01-01 05:10:00
temperature                    NaN
Name: 43685, dtype: object